.main-customer{
	border:2px solid red;
	padding: 1rem;
	text-align: center;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;

}
.main-customer__lists {
	list-style: none;
	border:2px solid red; 

}
.main-customer__list {
	margin: 1rem;
	/*display: inline-block;*/
	display: block;

}