html {
	height: 100%;
}
body {
	height: 100%;
}
.main__parent {
	height:400px;
	width: 400px; 
	text-align: center;

}
.parent {
	height:200px;
	width:200px;
	background: yellow;
	display: inline-block;
	vertical-align: middle;
	position: fixed;
	top: 0;
	left:0;
	/*float: right;*/
}
