.main__parent {
	width:500px;
	height:500px;
	border:2px solid red ;
	text-align: center;

}
.parent {
	width:200px;
	height: 200px;
	background:blue;
	/* margin:auto; */
	vertical-align:middle;
	display: inline-block;
}