.plus-plan,
.free-plan,
.premium-plan{
	margin-top:2.5rem;
	padding:2rem;
	background:rgba(213,255,220,0.95);
	border: 0.25rem solid #0e4f1f;
	border-left: none;
	width: 80%;
}
.plus-plan a,
.free-plan a,
.premium-plan a {
	text-decoration: none;
	display: block;
}
.plus-plan__title,
.free-plan__title {
	color: black;
	font-weight: bold;
}
.plus-plan__badge {
	position: absolute;
	top:0;
	right:0;
	margin: 1.25rem;
	font-size: 0.75rem;
	color: white;
	background: #ff5454;
	padding: 0.6rem;
}
.plus-plan__subject,
.free-plan__subject {
	color: #979797;
	font-weight: bold;
}
.plus-plan__description,
.free-plan__description,
.premium-plan__description{
	background: white;
	border:0.125rem solid #0e4f1f;
	color: #0e4f1f;	
	padding: 0.5rem;
	font-weight: bold;
}

.free-plan {
	margin:1.25rem 0;
	background: rgba(234,252,237,0.95);
	float: right;
	border: 0.25rem solid #0e4f1f;
	border-right: none;
}

.premium-plan {
	margin:0;
	background: rgba(14,79,31,0.95);

}
.premium-plan__title {
	color: white;
	font-weight: bold;
}
.premium-plan__subject {
	color: #bbb;
	font-weight: bold;
}
.premium-plan__description {
	border:0.125rem solid #2db398;

}
.background {
	background: url("../images/plans-background.jpg") center/cover;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	filter: grayscale(40%);
	top: 0;
}
.clearfix {
	clear: both;
}

.plus-plan{
	position: relative;
	margin-top: 5rem;
}
#package:hover,
#package.active {
	border-color:#ff5454;
	box-shadow: 2px 2px 3px black;
}
@media (min-width:40rem) {
	main {
	max-width: 1000px;
	}
}
@media (min-width:62.5rem) {
	.plus-plan,
	.free-plan,
	.premium-plan {
		border:0.25rem solid #0e4f1f;
	}
}