main {
    padding-top: 1rem;
}

.signup-form {
    padding: 1rem;
    display:grid;
    grid-row-gap: 0.5rem;;
}
.signup-form label {
    font-weight: bold;
}
.signup-title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
}

.signup-form label,
.signup-form input,
.signup-form select {
    /* display: block; */
    /* margin-top: 1rem; */
    width: 100%;
}
.signup-form input:not([type="checkbox"]),
.signup-form select {
    padding:0.2rem 0.5rem;
    font: inherit;
    border:1px solid #ccc;
}
.signup-form input:not([type="checkbox"]):focus,
.signup-form select:focus {
    outline:none;
    border:1px solid #2ddf5c;
    background:#d8f3df;
}

.signup-form input[type=checkbox],
.signup-form label[for^=agree]{
    /* display: inline-block; */
    width:auto;
}
.signup-form input[type=checkbox]{
    width:1rem;
    height: 1rem;
    border:1px solid #ccc;
    background:white;
    /* -webkit-appearance: none; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align:middle;
}
.signup-form input[type=checkbox]:checked {
    background:#2ddf5c;
    border:1px solid #0e4f1f;
}
.signup-form input[type=checkbox]:focus {
    outline: none;
}
.signup-form button[type=submit] {
    /* margin-top: 1rem;; */
    /* display: block; */
    width: auto;
    text-align: center;
    /* float: left; */
}

@media (min-width:40rem){
    .signup-form {
        width: 30rem;
        margin:auto;
        grid-template-columns:10rem auto;
        grid-row-gap: 1.5rem;

    }
    .signup-form .article {
        grid-column: span 2;
    }
    .signup-form label {
        align-self: center;
    }
    .signup-form select {
        grid-column: span 2;
    }
    .signup-form label[for^=agree]{
        vertical-align:middle; 
    }
    /* .signup-form input[type=checkbox] {
        grid-column: span 2;
    } */
}